<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
</head>
<body>
    
    <div id="main-container">
        <div id="purple-square"></div>
        <div id="bottom-part">
            <div id="light-dark-mode"></div>
            <div id="user-image-small">
                <img src="../public/images/how-to-take-a-profile-photo-personal-branding-kaitlin-zhang-15-1024x683.jpg" alt="">
            </div>
        </div>
    </div>
</body>
</html>