<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing</title>
    <link rel="stylesheet" href="./tempStyle.css">
</head>
<body>
    <div id="landing-root" class="bg-purple">
        <div >Logo</div>
        <section id="landing-content">
            <div id="landing-content-left">
                <div id="landing-content-left-title">
                    <h1>invoice app title</h1>
                </div>
                <p id="landing-content-left-discription"> Application built with Javascript and NodeJS. This project is designed by frontendmentor.io and it's one of the challenges they have on their website.</p>
                <button id="log-in-btn">Login/Register</button>
            </div>
            <div id="landing-content-right">
                <img src="https://kremenovic-invoice.netlify.app/static/media/mockup.cc5a4de6772534adab48.webp" alt="invoice-app-in-use">
            </div>
        </section>
        
    </div>

</body>
</html>