<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profilePage</title>
    <link rel="stylesheet" href="./tempStyle.css">
</head>
<body>
    <!-- title -->
    
    
    <div id="container">
        <h1>User profile</h1>
        <section >
            <img id="user-image" src="../public/images/Blake-profile-photo-square.jpg" alt=""> 
        
            <p>Welcome back,<span>dynamic name</span> 
                <a href="/invoices/" class="no-underline"> invoices.</a>
            </p>

            <button id="log-out-btn">Log out</button>
            
            
        </section>
    </div>


    <div id="side-bar">
        
        <section>
            <div id="logo">logo</div>
            <div id="bottom-section">
                <div id="night-icon">night</div>
                <img id="user-link-image" src="../public/images/Blake-profile-photo-square.jpg.crdownload" alt=""> 
            </div>
        </section>
    </div>
    
        
    
</body>
</html>