<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./tempStyle.css">
</head>
<body>
    <!-- title -->
    
    
    
        <h1>User Profile</h1>
        <img id="user-image" src="../public/images/how-to-take-a-profile-photo-personal-branding-kaitlin-zhang-15-1024x683.jpg" alt=""> 
    
    <p>Welcome back, <span>dynamic name</span> 
        <a href="/invoices/">invoices.</a>
    </p>

</body>
</html>