<%- include('partials/header') -%>


    <h2>This is the PROFILE page</h2>

    <div class="container section">
        <h1>User Profile</h1>
        <div id="user-image">
            <img src="../public/images/how-to-take-a-profile-photo-personal-branding-kaitlin-zhang-15-1024x683.jpg" alt="">
        </div>
        <p>Welcome back, <span>dynamic name</span> 
            <a href="/invoices/">invoices.</a>
        </p>
    </div>



<%- include('partials/footer') -%>